

.ride-list {
    display: flex;
    /*height: 95%;*/
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.ride-search-container {
    display: flex;
    height: 40px;
    min-height: 40px;
}

.ride-search-date-input {
    width: 50%;
    background: none;
    border: none;
}

.ride-search-input {
    width: 100%;
    padding-left: 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 0.8em; /*1.1em*/
    /*background: var(--lightgrey);*/
    background: rgb(223, 223, 223);
}

.ride-search-cross {
    width: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    /*background: var(--lightgrey);*/
    background: rgb(223, 223, 223);
}

.ride-sort-cb {
    font-size: 0.9em !important;
    border-radius: 0px !important;
    padding: 10px 15px !important;
    background: var(--grey) !important;
}

.ride-sort-cb.btn-checked {
    /*background: var(--orange-background) !important;*/
    background: rgb(244, 238, 236) !important;
    /*color: var(--orange-text) !important;*/
    color: rgb(0, 0, 0) !important;
}

.ride-card-container {
    width: 100%;
    padding: 15px 0px;
    font-size: 0.7em !important;   /*.9em*/
    border-radius: 0px !important;
    color: rgb(0, 0, 0);
}


